

body{
	color: #1C1A23;
	background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
	color: #1C1A23;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: 0.5rem;
	margin-top: 0.2rem;
	text-rendering: optimizeLegibility;
}

.row.first{
	padding-top: 60px;
}


input {
	font-size: 1.5rem;
  	padding: .3rem;
}

footer p {
	font-size: .8rem;
	color: #6B6B6B;
}

hr{
	border-color: #4F4F4F;
}

footer hr{
	margin-bottom: 5px;
}


.inert{
  	color: #CCCCCC;
}

button {
	background-color: #ECECEC;
	color: #000;
	border: 1px solid #CCC;
	padding: 5px 10px;
	margin-left: 4px;
}

button:hover, button:focus {
	background-color: #FF7474;
	outline: none; 
}

.css-input { 
	border: solid 2px #CCCCCC;
	/*border-right: none;*/
	padding:5px; 
	font-size:31px;
	height: 51px; 
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	text-align:center;
	max-width: 90%;  
} 

.css-input:focus { 
	outline:none;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-left:2px solid #fff; 
}

.css-input.multi-entry { 
	height: 131px;
	width: 100%;
	max-width: 90%;  
}

.css-input.multi-entry:focus {
	border: 2px solid #ccc; 
} 

button.submit {
    height: 51px;
    margin: 0;
	vertical-align: top;
	background-color: #F7F7F7;
	border: 2px solid #CCCCCC;
	border-left: none;
	color: #CCC;
}

button.submit:hover{
	background-color: #DDD;
	color: #000;
}

p.hint {
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #717070;
}

.hint-box.default .hint.multi{
	display: none;
}

.hint-box.multi .hint.default{
	display: none;
}

h3 {
	font-size: 16px;
}

.options-head, .index-head {
	cursor: pointer;
}

.options-head, .index-head {
	color: #ccc;
}

.black {
	color: #000;
}

.inert .black {
	color: #ccc;
}

h3.options-head:hover, h3.index-head:hover  {
	color: #000;
}

ul .arrow.pressed {
/**    background: #ACACAC;
    color: #f7f7f7;
    border: 1px solid #ACACAC;**/
}

.arrow.unpressed .down {
  display: inline;
}

.arrow.unpressed .up {
  display: none;
}

.arrow.pressed .down {
  display: none;
}

.arrow.pressed .up {
  display: inline;
}


ul.alphabet {
	list-style: none;
	font-size: 22px;
	max-height: 261px;
	overflow: auto;
	margin: 0;
	display: none;
}

.alphabet li{
	/*  border-right: 2px solid #ccc;*/
	padding-left: 4px;
}

.alphabet li.active{
	/* border-top: 2px solid #ccc;
	border-right: none;
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;*/
	background-color: #9DE8FF;
}

ul.list {
	list-style: none;
	font-size: 22px;
	position: relative;
}

ul.list.deletable li:hover{
	text-decoration: line-through;
	cursor: pointer;
	color: #FF7474;
}

ul.list.deletable li.inert:hover{
	text-decoration: line-through;
	color: #ccc;
}

ul.list.deletable li:active{
	text-decoration: line-through;
	color: #ccc;
}
.list li.active{
	color: #00C3FF;
}

.items {
    height: 100%;
    /*max-height: 450px;*/
    overflow: auto;
}

/*on small screens*/
@media only screen and (max-width: 64.063em) {

	.index, .options, .options-head {
		display: none;
	}

}


/*on short screens*/
@media only screen and (max-height: 500px) {

	.row.first {
	    padding-top: 0;
	}

	.css-input {
	    border-width: 1px;
	    border-color: #CCC;
	    padding: 5px;
	    font-size: 24px;
	    height: 43px;
	}

	.css-input:focus { 
		outline:none;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		/*border-right: none;*/
		border-left: 1px solid #fff; 
	}

	button.submit {
	    height: 43px;
	}


	textarea {
		min-height: 30px;
	}

	h1 {
	    font-size: 2.0rem;
	}

	.hint {
		display: none;
	}

}


/*on large screens*/
@media only screen and (min-width: 64.063em) {


}
