	

	body{
		color: #1C1A23;
		background-color: #FFF;
  	}
	h1, h2, h3, h4, h5, h6 {
		color: #1C1A23;
		font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		font-style: normal;
		font-weight: normal;
		line-height: 1.4;
		margin-bottom: 0.5rem;
		margin-top: 0.2rem;
		text-rendering: optimizeLegibility;
	}

	.darkbox > .row {
	    background-color: rgb(25, 25, 25);
	    background-color: rgba(25, 25, 25, 0.6);
/*		border-left: 1px solid #DDE11D;
		border-right: 1px solid #DDE11D;*/
	}


	.row.first{
		margin-top: 60px;
/*		border-top: 1px solid #DDE11D;*/
	}

	.logo{
		position: relative;
		top: 20px;
		left: 20px;
		z-index: 2;
	}

	.logo img{
		max-width: 175px;
	}

.quote{
  margin: 40px 0 40px 0;
}

.formtitle{
	margin-top: 40px;
}

input {
  font-size: 1.5rem;
  padding: .3rem;
}

.formbox.label{
	display: none;
}

.formbox.email{
	width: 100%;
	max-width: 84%;
}

.formbox.submit{
	width: 100%;
	max-width: 15%;
}

.formlabel{
	display: block;
}

.formtext{
	margin-top: 10px;
	margin-bottom: 75px;
}

input.submit{
	display: inline-block;
}

label {
  display: block;
  font-size: 0.77778rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}


	footer.row{
/*		margin-bottom: 50px;
		font-size: .6em;
		border-bottom: 1px solid #DDE11D;*/
	}

	footer p {
		font-size: .8rem;
		color: #6B6B6B;
	}

hr{
	border-color: #4F4F4F;
}

footer hr{
	margin-bottom: 5px;
}


	.inline-list {
	  margin: 0 auto 1.0625rem auto;
	  margin-left: -1.375rem;
	  margin-right: 0;
	  padding: 0;
	  list-style: none;
	  overflow: hidden; }
	  .inline-list > li {
	    list-style: none;
	    float: left;
	    margin-left: 1.375rem;
	    display: block; }
	    .inline-list > li > * {
	      display: block; }

        #err{
        	color: #EE3831;
        }
        #suc{
        	color: #DDE11D;
        }


/*on large screens*/
@media only screen and (min-width: 64.063em) {


}